* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	font-family: Helvetica, sans-serif;
	background: url(images/stripe.png) repeat;
}

h3 {
	font-size: 3.3em;
	margin-bottom: 15px;
}

p {
	font-size: 1.3em;
	margin-bottom: 15px;
	font-family: Helvetica, sans-serif;
	font-weight: bolder;
}

#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}
#parent {
    text-align:center;
    background-color:blue;
    height:400px;
    width:600px;
}

#contact-area input {
	padding: 5px;
	width: 50px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px -5px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area input.submit-button{
	width: 600px;
	float: center;
	
}
#button{
	width: 600px;
	float: center;
	margin-top: 5px;
}

#contact-area input.text {
	width: 120px;
	height: 25px;
	padding: 0px;
	font-size: 1em;
	font-family: Helvetica, sans-serif;
}

label {
	float: center;
	text-align: left;
	margin-right: 15px;
	margin-left: 0px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}